@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
:root {
  --primary-color:red;
  --off-white:black;
  --dark-blue: rgb(152, 6, 160);
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
#header {
  border-bottom-left-radius: 1rem;

  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  color: black;
  background-color: var(--primary-color);
  margin: 0;
}

textarea {
  border: 1px soli blue;
  height: 10vh;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  display: block;
  min-height: 20vh;
  margin-top: 2rem;
  font-size: large;
}
.placeholder {
  font-family: "Poppins", sans-serif;
  color: var(--dark-blue);
}
#output {
  border: 1px solid blue;
  height: 10vh;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  display: block;
  min-height: 20vh;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: large;
}

button {
    cursor: pointer;
  background-color:blueviolet;
  border-radius: 0.5rem;
  border: none;
  color:white;
  padding: 1rem;
  margin: 0.5rem;
  font-size:1em;
}
.container {
  text-align: center;
}

.container-center {
  padding: 0rem 1rem;
  max-width: 800px;
  margin: auto;
}

